.custom-style {
    display: flex;
    gap: 5%;
    transform: translate(35px,35px);
}
.Topproducts .product-category .custom-style li{
    display: flex;
    margin-left: 95px;
    padding: 5px 10px;
    cursor: pointer;
    
}
.Topproducts .product-category .custom-style li:hover{
    background-color: rgb(242, 21, 21);
    padding: 5px 10px;
    color: white;
    border-radius: 5px;
}
.Topproducts{
    margin-top: 100px;
    margin-bottom: 150px;
}
.custom-carts:hover .card-img{
    transform: scale(1.1);
    
}
/* TopProductLayout styleing */


.custom-carts {
    border: 1px solid rgb(155, 154, 154);
    padding: 10px;
    width: 355px;
    height: 490px;
    background-color: rgba(68, 67, 67, 0.17);
    transform: translate(35px , 0px);
}

.card-img img{
    width: 75%;
    transform: translate(32px,0px);
    align-items: center;
    transition: transform 0.3s ease-in-out, filter 0.5s ease-in-out;
}
.card-ratting span {
    color: red;
}
.card-ratting{
    transform: translate(0px,-22px);
}
.card-tittle{
    font-size: 20px;
    font-weight: bolder;
    transform: translate(0px,-23px);
    color: rgba(255, 255, 255, 0.605);
}
.card-description{
    transform: translate(0px,-24px);
}
.card-description-HR{
    transform: translate(0px,-25px);
}
.card-price{
    font-size:25px;
    font-weight: bolder;
    transform: translate(0px,-40px);
}
.cart-button{
    transform: translate(0px,-40px);
    
}
.card-price strike{
    font-size: 17px;
}
.custom-btn{
    padding-left: 33%;
    padding-right: 33%;
    font-weight: bold;
}
/* TopProductLayout styleing */


/* All Products styleing  */
.custom-allCarts {
    width: 350px;
    height: 490px;
    background-color: rgba(107, 105, 105, 0.17);
    /* margin-top: 50px; */
    transform: translate(40px,47px);
    align-items: center;
    border: 1px solid rgb(155, 154, 154);
}
.cart-info {
    transform: translate(0px,195px);
    font-weight: bolder;
    font-size: 30px;
}
.cart-info p{
    margin-bottom: -10px;
}

/* All Products styleing  */