.images img{
    height: 500px;
    width: auto;
    transform: translate(150%);
    
}
.background-text{
    transform: translate(-190px,65px);
    font-size: 230px;
    font-weight: bolder;
    color: rgba(23, 22, 22, 0.907);
    mix-blend-mode:lighten;
}

.background-text-02{
    transform: translate(-210px,85px);
    font-size: 230px;
    font-weight: bolder;
    color: rgba(23, 22, 22, 0.907);
    mix-blend-mode:lighten;
}
.background-text-03{
    transform: translate(-400px,80px);
    font-size: 230px;
    font-weight: bolder;
    color: rgba(23, 22, 22, 0.907);
    mix-blend-mode:lighten;
}
.Product_info{
    transform: translate(0px,-85px);
}
.product-tittle{
    font-size: 15px;
    font-family:Arial, Helvetica, sans-serif;
    transform: translate(-495px,0px);
}
.product-tittle_01{
    font-size: 15px;
    font-family:Arial, Helvetica, sans-serif;
    transform: translate(-495px,15px);
}
.product-text_01{
    font-size: 40px;
    /* margin-left: -999px;
    margin-top: -10px; */
    transform: translate(-390px,10px);
}
.product-text_02{
    font-size: 40px;
    /* margin-left: -910px;
    margin-top: -20px; */
    transform: translate(-430px,-20px);
}


.Product_info span{
    font-weight: bolder;
    margin-left: -920px;
}
.Product_info span strike{
    font-size: 12px;
    padding-left: 2px;
    color: rgb(75, 74, 74);
}
.Product_info button{
    transform: translate(-95px,40px);
}

.Product_info-02{
    transform: translate(0px,-95px);
    font-weight: bolder;
}
.product-text_02-1{
    transform: translate(-365px,-8px);
    font-size: 40px;
    
    
}
.product-text_02-2{
    transform: translate(-380px,-30px);
    font-size: 40px;
    
    
}
.Product_info-02 button{
transform: translate(-100px,40px);
}
.Product_info-02 span{
    font-weight:bold;
    margin-left: -890px;
}
.Product_info-02 span strike{
    font-size: 14px;
    color: rgb(88, 87, 87);
    padding-left: 2px;
}


.Product_info-03{
    transform: translate(0px,-95px);
}
.product-text_03-1{
    transform: translate(-400px,-5px);
    font-size: 40px;
}
.product-text_03-2{
    transform: translate(-420px,-26px);
    font-size: 40px;
}
.Product_info-03 button{
transform: translate(-85px,40px);
}
.Product_info-03 span{
    font-weight:bolder;
    margin-left: -928px;
}